[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chatterbot = "==1.0.5"
openfabric-pysdk = "==0.2.1"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.15"
